<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
  <span style="font-size: 10px; color: Tomato;">
<i class="fa fa-registered fa-7x"></i>
</span>

  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">


      <li class="nav-item">


        <a class="nav-link" routerLink="/"
          > <i class="fa fa-home"></i> Home Page</a>

      </li>


      <li class="nav-item">


        <a class="nav-link" routerLink="/about"
          ><i class="fa fa-registered"></i> About Me</a>

      </li>


      <li class="nav-item">


        <a class="nav-link" routerLink="/products"
          ><i class="fa fa-tasks"></i> Projects Page</a>

      </li>


      <li class="nav-item">


        <a class="nav-link" routerLink="/services"
          ><i class="fa fa-taxi"></i> Services Page</a>

      <li class="nav-item">

        <a class="nav-link" routerLink="/contact"
          ><i class="fa fa-phone-square"></i> Contact Me</a>

      </li>
      <!--<% if(typeof displayName == 'string' && displayName) { %>
        <li class="navbar-text"><i class="fas fa-lg fa-user"></i>
          Welcome, <%= displayName %></li>
          -->
        <li class="nav-item"><a routerLink="/logout" class="nav-link">
          <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>

        <li class="nav-item"><a routerLink="/login" class="nav-link">
          <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>

    </ul>
  </div>
</nav>
