<!-- footer.js
Rajandeep Kaur Dhaliwal
300926123
Feb 15 2019*/-->


<!--footer section-->
<!--Javascript section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
