<!-- index.ejs
Rajandeep Kaur Dhaliwal
300926123
Feb 15 2019*/-->

<!--header-->

<%include ./partials/header %>


<!--introduction-->
        <p class="lead">
          Welcome! Hi, my name is Rajandeep Kaur Dhaliwal and I am studying Software Engineering Technology. 
          I am currently in my last semester in this 3-year course. 
          I have worked on various project ranging from coding to database to analysis during my course. 
          I am goal oriented, client-engaged, well-spoken and as well as a good-listener.
          My leadership qualities have been refined through several experiences. 
          I was a part of LeaderShape Institute in Oct 2017. 
          I am currently a CISA (Centennial International Student Ambassador) and, 
          I am the Chairperson of Software Engineering Club.
          My goal for now is to learn and work with teams and understand the industry even deeper.

        </p>
        <hr class="my-4" />
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about" role="button"
            >About Me</a
          >

          <a class="btn btn-primary btn-lg" href="/products" role="button"
            >Projects</a
          >

          <a class="btn btn-primary btn-lg" href="/services" role="button"
            >Services</a
          >

          <a class="btn btn-primary btn-lg" href="/contact" role="button"
            >Contact</a
          >

         
          
        </p>
      </div>
    </div>

<!--footer-->
    <%include ./partials/footer %>