<!-- project.ejs
Rajandeep Kaur Dhaliwal
300926123
Feb 15 2019*/-->

<!--header-->

<%include ./partials/header %>
  
        <p class="lead">
         <div class="container">

         <!--1rst row with project images-->
  </div>
  <div class="row">
    <div class="col">
        <img src="Assets/images/COMP246.PNG" class="rounded float-left, img-thumbnail" />
    </div>
    <div class="col">
         <img src="Assets/images/BMI.PNG" class="rounded float-left, img-thumbnail" />
    </div>
    <div class="col">
         <img src="Assets/images/gif.gif" class="rounded float-left, img-thumbnail" />
    </div>
  </div>


<!--2nd row with project information-->
  <div class="row">
    <div class="col">
        ByCentennial Object Oriented Software Technology Project.Working on an object-oriented system designing project. Project includes selling and purchasing of college books through an online portal. 
        

    </div>
    <div class="col">
         BMR Calculator Web Development Project. Worked on wed designing project in my 1rst semester. I was based on calculating BMR of an individual in Imperial or Metric units.
    </div>
    <div class="col">
         Worked on my portfolio in my first semester. I was simple HTML. I included all my then projects in this portfolio.
    </div>
  </div>
</div>

        </p>
        <hr class="my-4" />
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/" role="button"
            >Home</a
          >

          <a class="btn btn-primary btn-lg" href="/about" role="button"
            >About Me</a
          >

          <a class="btn btn-primary btn-lg" href="/services" role="button"
            >Services</a
          >

          <a class="btn btn-primary btn-lg" href="/contact" role="button"
            >Contact</a
          >

         
          
        </p>
      </div>
    </div>

    <!--footer-->
<%include ./partials/footer %>
