<!-- services.ejs
Rajandeep Kaur Dhaliwal
300926123
Feb 15 2019*/-->

<!--header-->
<%include ./partials/header %>

<!--services-->
        <p class="lead">
        WHAT CAN I OFFER? 
        I AM...<br/>
          •	Familiar with C#, Java, C, C++, MS-SQL Server, .NET, HTML, .CSS, Android, Java EE, JavaScript, TypeScript. <br/> 

•	Skilled at Software testing and Software Security concepts. <br/> 

•	Specialize in API Engineering and Cloud Computing. <br/> 

•	Has fundamental knowledge of Computer Networks. <br/> 

•	Practiced in object-oriented software design, user-oriented interface design. <br/> 

•	Practiced in Data Warehouse and Data Mining in HCIS. <br/> 

•	Specialize in agile approach in Object Oriented Software Engineering. <br/> 

•	Skilled at database designing, designing ERD diagrams. <br/> 

•	Exceptionally good at mathematical skills. <br/> 


        </p>
        <hr class="my-4" />

         
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about" role="button"
            >About Me</a
          >

          <a class="btn btn-primary btn-lg" href="/products" role="button"
            >Projects</a
          >

          <a class="btn btn-primary btn-lg" href="/" role="button"
            >Home</a
          >

          <a class="btn btn-primary btn-lg" href="/contact" role="button"
            >Contact</a
          >

         
          
        </p>
      </div>
    </div>

    <!--header-->
<%include ./partials/footer %>
